.page {
    // .page__equipment-documents
    &__equipment-documents {
        padding: 10px 0px 30px 0px;
    }
}
.equipment-documents {
    // .equipment-documents__container
    &__container {
        display: grid;
        gap: 20px; 
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
    }
    // .equipment-documents__documents
    &__documents {
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0px 0px 0px 1px #f2f2f2;
    }
}

